<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<body>
    <h2>
         <a href = "{{ url_for('index') }}">Temporal COVID-19 Phenotypes</a>
    </h2>
    <h3>
         <a href = "{{ url_for('index') }}">Select a time period during 2020:</a>
    </h3>

   
<form class = "form-group" method="POST" action="{{ url_for('submit') }}"> <!-- note action -->
    <div class="form-group">
    <select name="selectDate"> <!-- note the name -->
        <option value="None">Select Date</option>
        <option value="January">January</option>
        <option value="March">March</option>
    </select>
    <input type="submit" value="Submit" class="btn" />
    </div>
</form>

</body>
</html>
